@{
    ViewData["Title"] = "HY PAGE";
    ViewBag.Username = @Context.Session.GetString("Username");
    ViewBag.Name = @Context.Session.GetString("Name");
    ViewBag.Role = @Context.Session.GetString("Role");
    ViewBag.Group = @Context.Session.GetString("Group");
    ViewBag.Phone = @Context.Session.GetString("Phone");
    ViewBag.IsLoggedIn = true;
}

<div class="text-center">
    <h1 class="display-4">TOP问题</h1>

</div>